.string {
    stroke:#000000;
    stroke-width:2px;
}

.bar {
    stroke:#e2e2e2;
    stroke-width:2px;
}

.note {
    cursor: pointer;
}

.note:hover {
    fill:#FF0000;
}

.label {
    fill:#FFFFFF;
}

.label-note {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 10px;
    pointer-events:none;
}