#fretboardWrapper {
    text-align:center;
}


/*strings*/
.string {
    stroke:#000000;
    stroke-width:2px;
}

[fret="0"] .string{
    stroke:#FFFFFF;
}

/*fret misc*/
.bar {
    stroke:#e2e2e2;
    stroke-width:2px;
}

/*notes*/
.note {
    cursor: pointer;
    stroke-width:2;
}

[state="disabled"]{
    fill:#e2e2e2;
    stroke:#e2e2e2;
    display:none;
}

[fretted="true"]{
    fill:#FF0000;
}

[fret="0"] .note {
    fill:#FFFFFF;
    stroke:#000000;
}

[fret="0"] .note.disabled {
    stroke:#e2e2e2;
}

.note:hover {
    fill:#FF0000;
    stroke:#FF0000;
}

/*labels*/
.label {
    fill:#FFFFFF;
    pointer-events:none;
}

.label[type="fret"] {
    text-anchor: end;
    alignment-baseline: middle;
    font-size: 12px;
    pointer-events:none;
    text-transform: uppercase;
    fill:#c2c2c2;
}

.label[type="note"] {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 12px;
    pointer-events:none;
    text-transform: uppercase;
}

[fret="0"] .label[type="note"] {
    fill:#000000;
}

[fret="0"] .label[type="note"].disabled,
.label-note.disabled {
    fill:#CCCCCC;
    display:none;
}
